* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

textarea:focus,
input:focus {
  outline: none;
}
