@import './variables.scss';

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin link {
  cursor: pointer;
}

@mixin button {
  background-color: $yellow;
  color: $dark-blue;
  height: 2.5em;
  width: 9em;
  border-radius: 1.25em;
  font-family: $font-body;
  font-weight: 700;
}

@mixin form-spacing {
  padding-inline: 5px;
  padding-block: 10px;
  border-radius: 3px;
  margin-bottom: 20px;
  font-size: 18px;
}
