@import './fonts.scss';

$pink: lightpink;
$hot-pink: #ffaebc;

$midnight-blue: #145da0;
$dark-blue: #0c2d48;
$blue: #2e8bc0;
$baby-blue: #b1d4e0;

$white: #fff;

$yellow: #fbe7c6;
$mint: #b4f8c8;
$dark-pink: #ffb6c1aa;

$cornflower: #4c5270;

$font-titles: 'Baloo 2';
$font-body: 'Montserrat';
