$blue: lightblue;
$pink: lightpink;
$font-cinzel: cinzel decorative;

* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin flex-center {
  display: flex;
  place-content: center;
  place-items: center;
}

@mixin form-spacing {
  padding-inline: 10px;
  padding-block: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

body {
  font-family: $font-cinzel;
  background-color: $pink;

  section {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    text-align: center;
    background-color: rgb(176, 224, 230, 0.7);
    z-index: 1;

    #modal-window {
      @include flex-center;

      gap: 30px;
      flex-direction: column;
      background-color: $pink;
      margin: 10% auto;
      width: 25%;
      padding: 10px;
      box-shadow:
        0 5px 20px 0 rgba(0, 0, 0, 0.5),
        0 7px 50px 0 rgba(0, 0, 0, 0.7);
      border-radius: 10px;

      span {
        width: 90%;

        i {
          cursor: pointer;
          display: flex;
          justify-content: flex-end;
        }
      }

      #modal-body {
        h2 {
          padding: 10px;
        }

        p {
          padding: 10px;
        }

        span {
          padding: 10px;
        }
      }

      #modal-form {
        @include flex-center;

        flex-direction: column;

        h3 {
          padding: 10px;
        }

        form {
          @include flex-center;

          flex-direction: column;

          input {
            @include form-spacing;
          }

          textarea {
            @include form-spacing;
          }
        }
      }
    }
  }

  nav {
    background-color: $blue;
    height: 5vh;

    ul {
      @include flex-center;

      gap: 5%;
      font-weight: 700;
      width: 100%;
      padding-block: 0.5%;

      li {
        .logo {
          font-size: 28px;
        }
      }
    }
  }

  main {
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 2%;
  }

  footer {
    @include flex-center;

    background-color: $blue;
    gap: 0.2%;
    font-weight: 700;
    height: 5vh;
  }
}
