@import './styles/variables.scss';
@import './styles/defaults.scss';
@import './styles/mixins.scss';

body {
  background-image: url('./images/whale.png');
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  font-family: $font-body;

  header {
    color: $white;

    nav {
      position: fixed;
      width: 100%;
      backdrop-filter: blur(10px);
      height: 3.5em;
      top: 0;

      ul {
        @include flex-center;

        gap: 5%;
        font-weight: 700;
        width: 100%;
        padding-block: 0.5%;

        li {
          &.logo-title {
            font-family: $font-titles;
            font-size: 1.5rem;
            font-weight: 900;
          }

          .logo {
            font-size: 28px;
          }
        }
      }
    }
  }

  section {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(176, 224, 230, 0.7);
    z-index: 1;

    #modal-window {
      display: flex;
      flex-direction: row;
      max-width: 75%;
      gap: 1em;
      padding: 1em;
      backdrop-filter: blur(10px);
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5),
        0 7px 50px 0 rgba(0, 0, 0, 0.7);
      border-radius: 10px;

      #x-button {
        @include link;
        position: absolute;
        width: 0.5em;
        height: 0.5em;
        right: 2em;
        top: 1em;
      }

      #modal-image {
        width: 30em;
        height: 40em;
      }

      div {
        #modal-body {
          display: flex;
          flex-direction: column;
          gap: 1em;

          #modal-name {
            font-family: $font-titles;
            font-weight: 900;
          }

          span {
            p {
              font-family: $font-titles;
              font-weight: 700;
            }

            table {
              width: 100%;

              th {
                text-align: left;
                padding-top: 0.5em;
                padding-bottom: 0.5em;
                padding-left: 0.5em;
                background-color: $blue;
                color: $baby-blue;
              }

              tbody {
                tr {
                  td {
                    padding: 0.5em;
                    border: 1px dashed $blue;
                  }
                }
              }
            }
          }
        }

        #modal-form {
          display: flex;
          align-items: center;
          flex-direction: column;
          gap: 1em;
          margin-top: 1em;

          h3 {
            font-family: $font-titles;
            font-weight: 900;
          }

          form {
            @include flex-center;

            flex-direction: column;

            input {
              @include form-spacing;

              border: 5px dotted $yellow;
              width: 20em;
            }

            textarea {
              @include form-spacing;

              border: 5px dotted $yellow;
              width: 20em;
              height: 5em;
              resize: none;
            }

            button {
              @include button;
            }
          }
        }
      }
    }
  }
}

main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 2%;
  max-width: 70%;
  margin: 0 auto;
  margin-top: 3.5em;

  .card-container {
    @include flex-center;
    color: $white;

    .card {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      background-color: $dark-blue;
      gap: 0.5em;
      padding: 1em;
      margin-bottom: 0.5em;
      border-radius: 0.7em;
      border: 1px solid $yellow;

      .card-banner {
        border-radius: 0.7em;
        box-shadow: 0px 0px 5px $cornflower;
      }

      .card-body {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .movie-name {
          @include link;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: clip;
          max-width: 9.5em;
        }

        .like-button {
          @include link;
        }
      }

      p {
        align-self: flex-end;
      }

      .comment-button {
        @include button;

        align-self: flex-end;
      }
    }
  }
}

footer {
  @include flex-center;

  background-color: $blue;
  gap: 0.2%;
  height: 5em;
  font-weight: 700;
}
