@import './styles/variables.scss';
@import './styles/defaults.scss';
@import './styles/mixins.scss';

body {
  font-family: $font-cinzel;
  background-color: $dark-pink;

  section {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    text-align: center;
    background-color: rgb(176, 224, 230, 0.7);
    z-index: 1;

    #modal-window {
      @include flex-center;

      gap: 30px;
      flex-direction: column;
      background-color: $pink;
      margin: 10% auto;
      width: 25%;
      padding: 30px;
      box-shadow:
        0 5px 20px 0 rgba(0, 0, 0, 0.5),
        0 7px 50px 0 rgba(0, 0, 0, 0.7);
      border-radius: 10px;

      span {
        width: 90%;

        i {
          @include link;

          display: flex;
          justify-content: flex-end;
        }
      }

      #modal-body {
        h2 {
          padding: 10px;
        }

        p {
          padding: 10px;
        }

        span {
          padding: 10px;
        }
      }

      #modal-form {
        @include flex-center;

        flex-direction: column;

        h3 {
          padding: 10px;
        }

        form {
          @include flex-center;

          flex-direction: column;

          input {
            @include form-spacing;

            border: 5px dotted $dark-pink;
          }

          textarea {
            @include form-spacing;

            border: 5px dotted $dark-pink;
          }

          button {
            @include button;
          }
        }
      }
    }
  }

  nav {
    background-color: $blue;
    height: 5vh;

    ul {
      @include flex-center;

      gap: 5%;
      font-weight: 700;
      width: 100%;
      padding-block: 0.5%;

      li {
        .logo {
          font-size: 28px;
        }
      }
    }
  }
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2%;
  max-width: 70%;
  margin: 0 auto;

  .card {
    @include flex-center;

    flex-direction: column;

    .card-body {
      .movie-name {
        @include link;
      }

      .like-button {
        @include link;
      }
    }

    .comment-button {
      @include button;

      margin-bottom: 20px;
    }
  }
}

footer {
  @include flex-center;

  background-color: $blue;
  gap: 0.2%;
  height: 5vh;
  font-weight: 700;
}
